<!DOCTYPE html>
<html>
<head>
    <title>Alertbox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <style>
    img {
        width: 100%;
        height: auto;
    }
    </style>
</head>
<body style="background-color: rgb(0, 255, 0);">
<div id="main_frame">
    <div>
        <img id="donationImage">
    </div>
    <div>
        <span id="donationMessage"></span>
    </div>
</div>
<script src="/js/alertbox_stomp.js"></script>
</script>
</body>
</html>